.button{
    -fx-background-radius:50;
    -fx-background-color: #0e0066;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: #4f73e0;
}
.button:pressed{
    -fx-background-color: #ffffff;
}
